<h2 class="uk-heading-bullet">Posts</h2>
<table class="uk-table uk-table-striped uk-table-hover uk-table-small">
  <thead>
    <tr>
      <th class="uk-table-shrink">#</th>
      <th>User</th>
      <th>Date</th>
      <th class="uk-table-shrink">Overtime</th>
      <th class="uk-table-expand">Rationale</th>
      <th class="uk-table-shrink">Status</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @posts %>
  </tbody>
</table>

<%= paginate @posts %>
