<table class="uk-table uk-table-striped uk-table-hover uk-table-small">
  <caption><h2 class="uk-heading-bullet">Posts</h2></caption>
  <thead>
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>User</th>
      <th>Rationale</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @posts %>
  </tbody>
</table>
